{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
  <div class="flex flex-col min-h-screen justify-center items-center p-2.5 sm:p-0">
    {# TODO: Add form descriptions and errors #}
    <div class="card w-full max-w-sm mx-auto">
      <header>
        <span class="icon-[tabler--leaf-2] size-10 mb-1.5"></span>
        <h2>{% trans "Login to your account" %}</h2>
        <p>{% trans "Enter your details below to login to your account" %}</p>
      </header>
      <section>
        <form class="form grid gap-6"
              method="post"
              action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="grid gap-2">
            <label for="{{ form.login.id_for_label }}">{% trans form.login.label %}</label>
            <input type="email"
                   id="{{ field.login.id_for_label }}"
                   name="{{ form.login.name }}">
          </div>
          <div class="grid gap-2">
            <div class="flex items-center gap-2">
              <label for="{{ form.password.id_for_label }}">{% trans form.password.label %}</label>
              <a href="{% url 'account_reset_password' %}"
                 class="ml-auto inline-block text-sm underline-offset-4 hover:underline">{% trans "Forgot your password?" %}</a>
            </div>
            <input type="password"
                   id="{{ form.password.id_for_label }}"
                   name="{{ form.password.name }}">
          </div>
          <div class="grid gap-2">
            <label class="label gap-3" for="{{ form.remember.id_for_label }}">
              <input type="checkbox" class="input" name="{{ form.remember.name }}">
              {% trans "Remember me" %}
            </label>
          </div>
          <button type="submit" class="btn w-full">{% trans "Login" %}</button>
        </form>
      </section>
      <footer class="flex flex-col items-center gap-2">
        <button type="button" class="btn-outline w-full">{% trans "Login with Google" %}</button>
        <p class="mt-4 text-center text-sm">
          {% trans "Don't have an account?" %} <a href="{{ signup_url }}" class="underline-offset-4 hover:underline">{% trans "Sign up" %}</a>
        </p>
      </footer>
    </div>
  </div>
{% endblock content %}
