{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
  <div class="flex flex-col min-h-screen justify-center items-center p-2.5 sm:p-0">
    {# TODO: Add form descriptions and errors #}
    <div class="card w-full max-w-sm mx-auto">
      <header>
        <span class="icon-[tabler--leaf-2] size-10 mb-1.5"></span>
        <h2>{% trans "Sign Up" %}</h2>
        <p>{% trans "Enter your details below to create an account" %}</p>
      </header>
      <section>
        <form class="form grid gap-6"
              method="post"
              action="{% url 'account_signup' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="grid gap-2">
              {{ field.errors }}
              <label for="{{ field.id_for_label }}">
                <span>{% trans field.label %}</span>
                {% if field.help_text %}
                  <button data-tooltip='{% trans "Minimum 8 characters" %}' data-side="right">
                    <span class="icon-[tabler--info-circle] size-5"></span>
                  </button>
                {% endif %}
              </label>
              {{ field }}
            </div>
          {% endfor %}
          <button type="submit" class="btn w-full">{% trans "Sign Up" %}</button>
        </form>
      </section>
      <footer class="flex flex-col items-center gap-2">
        <button type="button" class="btn-outline w-full">{% trans "Sign up with Google" %}</button>
        <p class="mt-4 text-center text-sm">
          {% trans "Already have an account?" %} <a href="{% url 'account_login' %}" class="btn-link">{% trans "Sign in" %}</a>
        </p>
      </footer>
    </div>
  </div>
{% endblock content %}
