{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block subject %}{% blocktrans with site_name=current_site.name %}Account Already Exists{% endblocktrans %}{% endblock %}

{% block preview %}{% blocktrans %}An account with this email already exists{% endblocktrans %}{% endblock %}

{% block content %}
<mj-text>
  {% blocktrans with site_name=current_site.name %}You are receiving this email because someone tried to sign up for an account on {{ site_name }} using this email address, but an account with this email already exists.{% endblocktrans %}
</mj-text>
<mj-text>
  {% blocktrans %}If this was you, you can log in to your existing account or reset your password if you've forgotten it.{% endblocktrans %}
</mj-text>
<mj-text>
  {% blocktrans %}If you did not attempt to sign up, you can safely ignore this email.{% endblocktrans %}
</mj-text>
{% endblock %}
