{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block subject %}{% blocktrans with site_name=current_site.name %}Email Address Changed{% endblocktrans %}{% endblock %}

{% block preview %}{% blocktrans %}Your email address has been changed{% endblocktrans %}{% endblock %}

{% block content %}
<mj-text>
  {% blocktrans %}Your email address has been successfully changed.{% endblocktrans %}
</mj-text>
<mj-text>
  {% blocktrans %}If you did not make this change, please contact us immediately.{% endblocktrans %}
</mj-text>
{% endblock %}
