{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block subject %}{% blocktrans with site_name=current_site.name %}Password Set{% endblocktrans %}{% endblock %}

{% block preview %}{% blocktrans %}Your password has been set{% endblocktrans %}{% endblock %}

{% block content %}
<mj-text>
  {% blocktrans %}Your password has been successfully set.{% endblocktrans %}
</mj-text>
<mj-text>
  {% blocktrans %}If you did not make this change, please contact us immediately.{% endblocktrans %}
</mj-text>
{% endblock %}
